@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "Meridian";
  default: true;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: #143432;
  --color-base-200: #173837;
  --color-base-300: #1A3C3C;
  --color-base-content: #E6E5DA;
  --color-primary: #D9BA71;
  --color-primary-content: #143432;
  --color-secondary: #E6E5DA;
  --color-secondary-content: #143432;
  --color-accent: #A3C9A8;
  --color-accent-content: #143432;
  --color-neutral: #2C2C2C;
  --color-neutral-content: #E6E5DA;
  --color-info: #5CA4B8;
  --color-info-content: #F5F5F5;
  --color-success: #6BA292;
  --color-success-content: #143432;
  --color-warning: #F2C879;
  --color-warning-content: #143432;
  --color-error: #C2645A;
  --color-error-content: #F5F5F5;
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}