@import "tailwindcss";
@tailwind utilities;
@plugin "daisyui";

/* Apply Libre Baskerville only to headers */
h1, h2, h3, h4, h5, h6 {
  font-family: "Libre Baskerville", serif !important;
}

@plugin "daisyui/theme" {
  name: "Meridian";
  default: true;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: #113839;
  --color-base-200: #163B3A;
  --color-base-300: #1A3C3C;
  --color-base-content: #FFFAED;
  --color-primary: #D8BB71;
  --color-primary-content: #113839;
  --color-secondary: #FFFAED;
  --color-secondary-content: #113839;
  --color-accent: #A3C9A8;
  --color-accent-content: #113839;
  --color-neutral: #2C2C2C;
  --color-neutral-content: #FFFAED;
  --color-info: #5CA4B8;
  --color-info-content: #F5F5F5;
  --color-success: #6BA292;
  --color-success-content: #113839;
  --color-warning: #F2C879;
  --color-warning-content: #113839;
  --color-error: #C2645A;
  --color-error-content: #F5F5F5;
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}


@layer components {
  /* .btn-primary {
      @apply py-1.5 px-3 text-center bg-blue-700 rounded-md text-white;
  } */
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes pulse-slow {

  0%,
  100% {
    opacity: 0.8;
  }

  50% {
    opacity: 0.6;
  }
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.animate-float-delay {
  animation: float 7s ease-in-out 1s infinite;
}

.animate-pulse-slow {
  animation: pulse-slow 4s ease-in-out infinite;
}

.animate-spin-slow {
  animation: spin-slow 12s linear infinite;
}